@use '../styles/variables' as *;

.quiz-result-container {
  background-color: $quiz-background-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .quiz-result-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
   h2, p, h3 {
    color: $quiz-letter-color;
  }
    .quiz-result-header h2 {
    font-size: 3rem;

    }
   .quiz-result-header p {
    font-size: 1.2rem;
   }
    .quiz-result-body h3 {
     margin-left: 16px;
    }
  .quiz-result-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
    overflow-y: auto;
    padding: 0 16px;
    flex-grow: 1;
    font-size: 1.5rem;
  }
  .quiz-result-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }
}