@use '../styles/variables' as *;

.create-quiz-container {
  background-color: $quiz-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  h1, label {
    color: $quiz-letter-color;
  }

  input, textarea {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    width: 91%;
    font-size: 16px;
    border-radius: 5px;
  }
  textarea {
    height: 100px;
    resize: vertical;
  }
  select {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    width: 92%;
    font-size: 16px;
    border-radius: 5px;
  }
  .create-quiz-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .create-quiz-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    Button, ButtonComponent {
      width: 150px;
      margin: 5px 0;
    }
  }

}