@use '../styles/variables' as *;

.quiz-details-container {
  background-color: $quiz-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  .quiz-details-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
  .quiz-details-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .quiz-details-footer {
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  h2, h3, p {
    color: $quiz-letter-color;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 0;

  }
  h3 {
    font-size: 2rem;
    margin: 0;
  }
}