.featured_card {
  width: 350px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  .user-avatar {
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}