@use '../styles/variable' as *;

.not-found-container {
  background-color: $quiz-background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .not-found-title {
    font-size: 5rem;
    color: $quiz-letter-color;
  }
  .not-found-message {
    font-size: 2rem;
    color: $quiz-letter-color;
  }
}