.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
    h1 {
      color: red;
      background-color: yellow;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
        color: green;
    }

}

