@use '../styles/variables' as *;

.signup-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $quiz-background-color;
  .signup-title {
    color: $quiz-letter-color;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
  }

  .signup-label {
    color: $quiz-letter-color;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 7rem;


  }

  .signup-input {
    width: 100rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .signup-action {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

}

