.header {
    padding: 0;
    background-color: #332A7C;
    width: 100%;
    height: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    .header__logo-image {
      padding: 0;
      margin: 0;
      width: 3.1rem;
      height: 3.1rem;
    }
  .header__search-bar {
    height: 1.5rem;
    width: 85%;
    border-radius: 0.5rem;
    padding: 0.8rem;
  }
  .header__avatar-image {
    padding: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}