@use '../styles/variables' as *;

.quiz-question-container {
  background-color: $quiz-background-color;
  color: $quiz-letter-color;
  display: flex;
  flex-direction: column;
  height: 100vh;


  .quiz-progress-bar {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    accent-color: #D6F4ED;
  }
  .quiz-question-content {
    width: 95%;
    margin: 1rem auto;
    padding-left: 0.75rem;
    box-sizing: border-box;
  }
}