@use '../styles/variables' as *;

.quiz-question-container {
  background-color: $quiz-background-color;
  color: $quiz-letter-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .quiz-progress-bar {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 3rem;
    accent-color: #D6F4ED;
    .quiz-question-number {
      font-size: 90rem;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
}